<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="counterTypeSection" type="PeopleCounter.CounterTypeSection, PeopleCounter"/>
	</configSections>
	<appSettings>
		<!-- Folder in which the csv files will be stored -->
		<add key="folder" value="C:\Workspace\_Privat\PeopleCounter"/>
		<!-- Defines wheter the entries will be written to a separate month file too-->
		<add key="monthFile" value="false"/>
		<!-- You can define a header. This will be the first line in each new file
			 Each click will write a line using the type and the date. The date will be written according to defined log format 'loggedDateTimeFormat'
		-->
		<add key="csvHeader" value="Art,Jahr,Monat,Tag,Datum,Uhrzeit"/>
		<!-- Documentation https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings 
			If you want to separate date and time  you can use the delimiter character
			One cell: dd.MM.yyyy HH:mm
			Two cells: dd.MM.yyyy;HH:MM
			Complex structure: yyyy,MM,dd,yyyy.MM.dd,HH:mm
		-->
		<add key="loggedDateTimeFormat" value="yyyy,MM,dd,yyyy.MM.dd,HH:mm"/>
		<add key="csvDelimiter" value=","/>

		<!-- Context menu item labels-->
		<add key="openFolderMenu" value="Open folder"/>
		<add key="exitMenu" value="Exit"/>
		
	</appSettings>
	<counterTypeSection>
		<counterTypes>
			<!-- 
			For each person group (counter type) a separate icon will be created.
			iconText: will be displayed if mouse coursor hovers above the icon.
			csvIdentifier: will be written to the file to distinquish the counted clicks.
			You can the name of one of these colors: https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.colors-->
			<counterType iconText="Counted adults:" csvIdentifier="Adult" backGroundColor="Blue" foreGroundColor="White"/>
			<counterType iconText="Counted children:" csvIdentifier="Child" backGroundColor="Yellow" foreGroundColor="Black"/>
		</counterTypes>
	</counterTypeSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>