<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="counterTypeSection" type="PeopleCounter.CounterTypeSection, PeopleCounter"/>
	</configSections>
	<appSettings>
		<!-- Ordner in dem die Dateien gepseichert werden.-->
		<add key="folder" value="C:\Workspace\_Privat\PeopleCounter"/>
		<!-- Definiert, ob zusätzlich zur Jahresdatei eine Datei für den aktuellen Monat erstellt wird.-->
		<add key="monthFile" value="false"/>
		<!-- Nachfolgend kann ein Header für die CSV Datei definiert werden. Er wird in jeder neuen Datei in die erste Zeile geschrieben.
			 Jeder klick auf ein Icon wird weitere Einträge in der CSV Datei erzeugen. Hierbei wird der csvIdentifier verwenden und anschließend das Datum.
			 Das Datum wird entsprechend 'loggedDateTimeFormat' ausgegeben.
		-->
		<add key="csvHeader" value="Art,Jahr,Monat,Tag,Datum,Uhrzeit"/>
		<!-- Dokumentation der Datumsausgabe https://docs.microsoft.com/de-de/dotnet/standard/base-types/custom-date-and-time-format-strings 
			Wenn das Datum und die Uhrzeit in unterschiedliche Zellen geschrieben werden sollen, so kann das Trennzeichen, csvDelimiter, im Format verwendet werden.
			Eine Zelle: dd.MM.yyyy HH:mm
			Zwei Zellen: dd.MM.yyyy;HH:MM
			Komplexere Struktur: yyyy;MM;dd;yyyy.MM.dd;HH:mm
		-->
		<add key="loggedDateTimeFormat" value="yyyy;MM;dd;yyyy.MM.dd;HH:mm"/>
		<add key="csvDelimiter" value=";"/>

		<!-- Bezeichnungen der Menüeinträge-->
		<add key="openFolderMenu" value="Ordner anzeigen"/>
		<add key="exitMenu" value="Beenden"/>
		
	</appSettings>
	<counterTypeSection>
		<counterTypes>
			<!-- 
			Nachfolgend können mehrere Personengruppen definiert werden, die separat erfasst werden sollen. Für jede dieser Gruppen wird ein Icon eingeblendet.
			iconText: Wird ausgegeben, wenn die Maus über dem Icon ist.
			csvIdentifier: Wird in die Datei geschrieben, um den Typ zu definieren.
			Es können die folgenden Farben verwendet werden: https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.colors-->
			<counterType iconText="Gezählte Erwachsene: " csvIdentifier="Erwachsener" backGroundColor="Blue" foreGroundColor="White"/>
			<counterType iconText="Gezählte Kinder: " csvIdentifier="Kind" backGroundColor="Yellow" foreGroundColor="Black"/>
		</counterTypes>
	</counterTypeSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>